# CONFIG_CGROUPS is not set
# CONFIG_NAMESPACES is not set
# CONFIG_UTS_NS is not set
# CONFIG_PID_NS is not set
# CONFIG_NET_NS is not set
CONFIG_EMBEDDED=y
# CONFIG_LOCALVERSION_AUTO is not set
# CONFIG_ARCH_MULTI_V7 is not set
CONFIG_ARCH_MULTI_V5=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUNIV=y
CONFIG_PARTITION_ADVANCED=y
# CONFIG_CMA is not set
# CONFIG_ATA is not set
# CONFIG_IP_PNP is not set
# CONFIG_DNS_RESOLVER is not set
# CONFIG_NETDEVICES is not set
# CONFIG_CAN is not set
# CONFIG_DRM is not set
# CONFIG_DRM_SUN4I is not set
# CONFIG_DRM_LIMA is not set
CONFIG_FB=y
CONFIG_FB_SSD1307=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_SCSI=m
# CONFIG_PTP_1588_CLOCK is not set
# CONFIG_RC_CORE is not set
# CONFIG_MEDIA_SUPPORT is not set
CONFIG_SOUND=m
CONFIG_USB_OTG=y
CONFIG_USB_STORAGE=m
CONFIG_USB_MUSB_HDRC=y
CONFIG_USB_MUSB_SUNXI=y
CONFIG_MUSB_PIO_ONLY=y
CONFIG_USB_CONFIGFS=m
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_USB_MASS_STORAGE=m
CONFIG_USB_G_SERIAL=m
CONFIG_USB_G_HID=m
CONFIG_USB_ETH=m
CONFIG_USB_ETH_RNDIS=y
# CONFIG_NETWORK_FILESYSTEMS is not set
# CONFIG_MISC_FILESYSTEMS is not set
