# CONFIG_LOCALVERSION_AUTO is not set
# CONFIG_NET is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_PXE is not set
# CONFIG_ISO_PARTITION is not set
# CONFIG_NETDEVICES is not set
# CONFIG_INPUT is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_SPL_MMC is not set
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_ENV_IS_NOWHERE=y
CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y
CONFIG_SPI=y
CONFIG_SPL_SPI_SUNXI=y
CONFIG_SPI_FLASH=y
CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="nor0=spi0.0"
CONFIG_MTDPARTS_DEFAULT="spi0.0:512k(u-boot),64k(dtb),-(firmware)"
CONFIG_CMD_WDT=y
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="sf probe; sf read ${fdt_addr_r} 0x80000 0x10000; sf read ${loadaddr} 0x90000 0x800000; bootz ${loadaddr} - ${fdt_addr_r};"
